[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python src/main.py"

[packages]
speechrecognition = "*"
google-generativeai = "*"
python-dotenv = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
